.Items--container {
    width: 100%;
    max-width: 350px;
    color: #4f4f4f;

}

.Items--img {
    height: 238px;
    width: inherit;
    max-width: inherit;
    margin-bottom: 19px;

    background-color: gray;
    border-radius: 24px;
}

@media (min-width: 823px) {
    .Items--img {
        height: 269px;
        width: 370px;
        max-width: none;
    }
    .Items--container {
        width: 370px;
        max-width: none;
    }
}

@media (min-width: 1040px) {
    .Items--img {
        height: 269px;
        width: 385px;
        max-width: none;
    }
    .Items--container {
        width: 385px;
        max-width: none;
    }
}


img {
    height: inherit;
    width: 100%;
    border-radius:24px

}

.Items--info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Items--host {
    border: 1px solid #4f4f4f;
    border-radius: 14px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    padding: 6px 10px;
}

.Items--type {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #828282;
}

@media (min-width: 1040px) {
    .Items--host {
        font-size: 12px;
    
    }
    .Items--type {
        font-size: 14px;
    }

}

.Items--info .Items--host + p {
    margin-left: -5px;
}

.Items--rank {
    display: flex;
    align-items: center;
}

.Items--rank p {
    font-size: 12px;
}

.material-icons.md-style {
    font-size: 14px;
    color: #EB5757;
}

.Items--title {
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    font-weight: 600;
}

@media (min-width: 1040px) {
    .Items--rank p {
        font-size: 14px;
    }


    .material-icons.md-style {
        font-size: 16px;
        color: #EB5757;
    }

    .Items--title {
        font-size: 16px;
    }
}