.Header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width:800px) {
    .Header-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

.Header--logo {
    margin-bottom:20px;
    width: 130px;
}
